@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Libre+Franklin&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: red;
  height: 8vh;
}

body {
  font-family: "Libre Franklin", sans-serif;
  width: 100%;
}
nav {
  display: flex;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5e4f58;
  font-family: "Libre Franklin", sans-serif;
  width: 100%;
  position: fixed;
  top: 0;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo-container img {
  filter: opacity(80%);
}
.logo {
  color: #dfe2e6;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 10px;
  margin: 5px;
}
.top-nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.top-nav li {
  list-style: none;
}

.top-nav a {
  color: #dfe2e6;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}
/*menu icon*/
.init {
  display: none;
  cursor: pointer;
}
.init div {
  width: 25px;
  height: 3px;
  background-color: #dfe2e6;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .top-nav {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .top-nav {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: #5e4f58;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .top-nav li {
    opacity: 0;
  }
  .init {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes topnavFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
#presentation {
  background-image: url("https://images.unsplash.com/photo-1544883930-924db8d63597?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  min-height: 80vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #dfe2e6;
}
.intro-text h1 {
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 900;
  color: #dfe2e6;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #dfe2e6;
  font-weight: 400;
  background: #a74f41b6;
}
.ca {
  padding: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ca-submit {
  margin-left: 5px;
  border: none;
  background: #094c5e;
  color: #dfe2e6;
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 700;
}
.ca-submit:hover {
  color: #094c5e;
  background: #dfe2e6;
}
.ca-email {
  margin-right: 5px;
  border: 1px solid #094c5e;
  background: rgba(245, 239, 239, 0.404);
  width: 350px;
  height: 40px;
  font-size: 16px;
  border-radius: 3px;
}
::placeholder {
  color: #094c5e;
  opacity: 1;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .introduction {
    text-align: center;
    margin-top: 5vh;
  }

  .intro-text h1 {
    font-size: 60px;
    padding: 0px 0px 10px 0px;
  }
  .intro-text p {
    font-size: 16px;
    padding: 5px 0px 5px 0px;
  }
  .ca {
    padding: 25px 0px 0px 0px;

    text-align: center;
  }
  .ca-submit {
    width: 50%;
  }
  .ca-email {
    width: 60%;
  }
}

#Features,
#Premium,
#Pricing,
#About {
  height: 92vh;
  display: flex;
  width: 100%;
  align-items: center;
  color: #dfe2e6;
}
#Features {
  background-color: #a74f41;
}
.features {
  flex: 1;
  margin: auto 20px auto 20px;
}
.features-text h1 {
  font-size: 44px;
  font-weight: 800;
  color: white;
}
.features-text p {
  margin-top: 10px;
  font-size: 22px;
  color: #dbe6e7;
}
.img-features {
  flex: 1;
  height: 82vh;
  margin-left: 30px;
}
.img-features img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px rgb(82, 54, 54));
}
.cta-features {
  padding: 20px 0px 0px 0px;
}
.cta-add {
  border: 2px solid #dbe6e7;
  border-radius: 3px;
  background: linear-gradient(90deg, #dd9f9686, #a75a4ede);
  color: #dbe6e7;
  width: 200px;
  height: 40px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
.cta-add:hover {
  color: #a74f41;
  background: #dbe6e7;
}
@media screen and (max-width: 750px) {
  .img-features {
    display: none;
  }
  #Features {
    background-image: linear-gradient(90deg, #a74f41, #a74f41b6),
      url("https://images.unsplash.com/photo-1495147466023-ac5c588e2e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
  }
  .features {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .img-features {
    display: none;
  }
  #Features {
    background-image: linear-gradient(90deg, #a74f41, #a74f41b6),
      url("https://images.unsplash.com/photo-1495147466023-ac5c588e2e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-position: center;
  }
  .features {
    text-align: center;
  }
  .features-text h1 {
    font-size: 34px;
  }
  .cta-features p {
    font-size: 18px;
  }
}
#Premium {
  background-color: #094c5e;
  flex-direction: column;
  text-align: center;
}
.premium-text {
  flex: 1;
  margin: 40px 120px 30px 120px;
}

.premium-text h1 {
  font-size: 44px;
  font-weight: 800;
  color: white;
}
.premium-text p {
  margin-top: 10px;
  font-size: 22px;
  color: #dbe6e7;
}
.img-premium {
  flex: 2;
  margin-top: 20px;
}
.img-premium img {
  filter: drop-shadow(0px 5px 3px black);
}
@media screen and (max-width: 1024px) {
  .img-premium {
    display: none;
  }
  #Premium {
    flex-direction: row;
    background-image: linear-gradient(90deg, #094c5e63, #094c5e),
      url("https://images.unsplash.com/photo-1464411335145-a52ac26409ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (max-width: 400px) {
  .img-premium {
    display: none;
  }
  #Premium {
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(90deg, #094c5e63, #094c5e),
      url("https://images.unsplash.com/photo-1464411335145-a52ac26409ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-position: center;
  }
  .premium-text h1 {
    font-size: 34px;
  }
  .premium-text p {
    font-size: 18px;
  }
}
#Pricing {
  background-color: #934156;
  justify-content: center;
}
.pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-image: url("https://images.unsplash.com/photo-1547047803-fa4a5f94ffd2?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-position: left;
}
.product > .level {
  background-color: #ddd;
  font-family: "Libre Franklin";
  color: #934156;
  padding: 15px 0;
  width: 100%;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
}
.product > h2 {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  color: #ce8d1e;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.product > ol {
  margin: 15px 0;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  color: #44312f;
  font-weight: bolder;
  background-color: #dde0e963;
}

.product > ol > li {
  padding: 5px 0;
  list-style: none;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #ca8b49;
  color: #dbe6e7;
}

.product > button:hover {
  background: linear-gradient(90deg, #ca8b49, #a75a4ede);
  transition: background-color 1s;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (max-width: 751px) {
  .pricing {
    display: flex;
    flex-direction: column;
  }
  .product {
    max-width: 230px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .product .level {
    font-size: 20px;
  }
  .product ol {
    font-size: 14px;
    margin-top: 10px;
    margin: 10px auto;
  }
  .product h2 {
    font-size: 18px;
    margin: 5px auto;
  }
  .product button {
    margin: 5px auto;
  }
}
@media screen and (max-width: 750px) {
  .product ol {
    display: none;
  }
  .product .level {
    font-size: 18px;
  }
  .pricing {
    display: flex;
    flex-direction: column;
  }
  .product {
    max-width: 180px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
  }
}
#About {
  background-color: #ca8b49;
  flex-direction: column;
  justify-content: center;
}
#About h1 {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 50px;
  color: white;
}
#About iframe {
  max-width: 560px;
  width: 100%;
}
@media screen and (max-width: 400px) {
  #About iframe {
    max-width: 375px;
    width: 100%;
  }
  #About h1 {
    font-size: 30px;
  }
}
footer {
  background-color: #5e4f58;
}

footer > ul {
  padding: 10px 0px 5px 0px;
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
  list-style: none;
  color: #dbe6e7;
}
footer > ul > li a {
  text-decoration: none;
  color: #dbe6e7;
  font-family: "Libre Franklin", sans-serif;
}

footer > span {
  padding: 0px 12px 10px 0px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #dbe6e7;
}

h1 {
  font-family: "Libre Franklin", sans-serif;
}
p {
  font-family: "IBM Plex Mono", monospace;
}
